@import "tailwindcss";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.active {
  background: #01f0d0 0% 0% no-repeat padding-box;
  border-radius: 41px;
  opacity: 1;
  padding: 1rem;
}
